<div class="menu-left">
    <div class="menu-item">
        <span class="menu-title">
            <i class="iconfont icon-system-extension"></i>系统管理
        </span>
        <ul>
            <li chref="./systemManage/account.html">
                <a href="#">后台账号管理</a>
            </li>
            <li chref="./systemManage/rolePermission.html">
                <a href="#">角色权限</a>
            </li>
            <li chref="./systemManage/dataDictionary.html">
                <a href="#">数据字典</a>
            </li>
            <li chref="./systemManage/systemLog.html">
                <a href="#">系统日志</a>
            </li>
            <li chref="./systemManage/systemSet.html">
                <a href="#">系统设置</a>
            </li>
        </ul>
    </div>
    <div class="menu-item">
        <span class="menu-title">
            <i class="iconfont icon-system-extension"></i>审核管理
        </span>
        <ul>
            <li chref="./auditsManagement/demand.html">
                <a href="#">需求审核</a>
            </li>
            <li chref="./auditsManagement/service.html">
                <a href="#">服务审核</a>
            </li>
            <li chref="./auditsManagement/activity.html">
                <a href="#">活动审核</a>
            </li>
            <li chref="./auditsManagement/platform.html">
                <a href="#">示范平台接入审核</a>
            </li>
            <li chref="./auditsManagement/park.html">
                <a href="#">示范园区申请审核</a>
            </li>
            <li chref="./auditsManagement/incubator.html">
                <a href="#">示范孵化器申请审核</a>
            </li>
            <li chref="./auditsManagement/alliances.html">
                <a href="#">示范联盟申请审核</a>
            </li>
        </ul>
    </div>
    <div class="menu-item">
        <span class="menu-title">
            <i class="iconfont icon-system-extension"></i>运营管理
        </span>
        <ul>
            <li chref="./operationManagement/registeredUserManagement.html">
                <a href="#">注册用户管理</a>
            </li>
            <li chref="./operationManagement/consultingContentManagement.html">
                <a href="#">咨询内容管理</a>
            </li>
            <li chref="./operationManagement/activityContentManagement.html">
                <a href="#">活动内容管理</a>
            </li>
        </ul>
    </div>
    <div class="menu-item">
        <span class="menu-title">
            <i class="iconfont icon-system-extension"></i>广告运营管理
        </span>
        <ul>
            <li chref="./advertisingOperManagement/advertisingOperManagement.html">
                <a href="#">广告运营管理</a>
            </li>
            <li chref="./advertisingOperManagement/addAdvertisingLocation.html">
                <a href="#">广告位管理</a>
            </li>
            <li chref="./advertisingOperManagement/addAdvertising.html">
                <a href="#">广告内容管理</a>
            </li>
        </ul>
    </div>
    <div class="menu-item">
        <span class="menu-title">
            <i class="iconfont icon-system-extension"></i>联盟运营管理
        </span>
        <ul>
            <li chref="./alliOperManage/joinAllianceApply.html">
                <a href="#">联盟入盟申请</a>
            </li>
            <li chref="./alliOperManage/allianceArticleManage.html">
                <a href="#">联盟文章内容管理</a>
            </li>
            <li chref="./alliOperManage/allianceDynamicManage.html">
                <a href="#">联盟动态内容管理</a>
            </li>
        </ul>
    </div>
    <div class="menu-item">
        <span class="menu-title">
            <i class="iconfont icon-system-extension"></i>联盟广告管理
        </span>
        <ul>
            <li chref="./unionAdvertisingOperManagement/unionAdvertisingOperManagement.html">
                <a href="#">联盟广告管理</a>
            </li>
            <li chref="./unionAdvertisingOperManagement/unionAddAdvertisingLocation.html">
                <a href="#">联盟广告位管理</a>
            </li>
            <li chref="./unionAdvertisingOperManagement/unionAddAdvertising.html">
                <a href="#">联盟广告内容编辑</a>
            </li>
        </ul>
    </div>
    <div class="menu-item">
        <span class="menu-title">
            <i class="iconfont icon-system-extension"></i>数据统计
        </span>
        <ul>
            <li chref="./statistics/statistics.html">
                <a href="#">数据统计</a>
            </li>
            <li chref="./statistics/userLogInStatistics.html">
                <a href="#">用户注册统计</a>
            </li>
            <li chref="./statistics/demandStatistics.html">
                <a href="#">需求信息统计</a>
            </li>
            <li chref="./statistics/serviceStatistics.html">
                <a href="#">服务信息统计</a>
            </li>
            <li chref="./statistics/activityStatistics.html">
                <a href="#">活动信息统计</a>
            </li>
            <li chref="./statistics/platformStatistics.html">
                <a href="#">示范平台统计</a>
            </li>
            <li chref="./statistics/incubatorStatistics.html">
                <a href="#">示范孵化器统计</a>
            </li>
            <li chref="./statistics/parkStatistics.html">
                <a href="#">示范园区统计</a>
            </li>
            <li chref="./statistics/alliancesStatistics.html">
                <a href="#">示范联盟统计</a>
            </li>
        </ul>
    </div>
</div>