<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit"/>
    <title>一带一路后台管理平台</title>
    <!--公用样式库-->
<link rel="stylesheet" type="text/css" href="../../css/commonLess/reset.css">
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" type="text/css" href="../../resource/fonts/iconfont.css">
<link rel="stylesheet" type="text/css" href="../../css/commonLess/common.css">
    <link rel="stylesheet" type="text/css" href="../../css/systemManageLess/account.css">
    <style>
        .content .search-input{
            margin: auto;
            margin-bottom: 27px;
        }
        .content .search-input .el-input__inner{
            width: 256px;
            height: 34px;
        }
        .add-content h3{
            margin-bottom: 0px;
            border-bottom: none;
        }
    </style>
</head>
<body>
  <div class="content"  id="app">
                <h2>添加账号</h2>
                <div class="add-content">
                    <el-form ref="form" :model="form" label-width="20px">
                    <h3><i></i>需求信息发布</h3>
                    <el-form-item>
                        <el-radio-group v-model="form.demand">
                            <el-radio label="即发即显示"></el-radio>
                            <el-radio label="审核后显示"></el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <h3><i></i>服务信息发布</h3>
                    <el-form-item>
                        <el-radio-group v-model="form.service">
                            <el-radio label="即发即显示"></el-radio>
                            <el-radio label="审核后显示"></el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <h3><i></i>活动信息发布</h3>
                        <el-form-item>
                            <el-radio-group v-model="form.activity">
                                <el-radio label="即发即显示"></el-radio>
                                <el-radio label="审核后显示"></el-radio>
                            </el-radio-group>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
  <!--公用js库-->
<script src="../../resource/vue.min.js"></script>
<script src="../../resource/element-ui.js"></script>
<script src="../../js/common/common.js"></script>

  <script src="../../js/systemManage/systemSet.js"></script>
</body>

</html>