<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit"/>
    <title>一带一路后台管理平台</title>
    <!--公用样式库-->
<link rel="stylesheet" type="text/css" href="../../css/commonLess/reset.css">
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" type="text/css" href="../../resource/fonts/iconfont.css">
<link rel="stylesheet" type="text/css" href="../../css/commonLess/common.css">
    <link rel="stylesheet" type="text/css" href="../../css/unionAdvertisingOperManagement/unionAdvertisingOperManagement.css">
    <style>
      .content-container{
          overflow: hidden;
      }
        .content-container-left{
            width: 205px;
            padding-right: 30px;
            text-align: right;
            font-size: 12px;
            color: #999999;
            line-height: 36px;
        }
        .content-container-right{
            width: 535px;
            color: #303030;
            font-size: 12px;
            line-height: 36px;
        }
        .add-btn-box{
            width: 490px;
        }
        .common-btn{
            margin-right: 5px;
        }
    </style>
</head>
<body>
  <div class="content"  id="app">
                <h2>联盟广告设置</h2>
                <div class="add-content">
                    <h3><i></i>广告信息</h3>
                    <ul class="content-container">
                        <li>
                            <div class="content-container-left fl">
                                广告位置：
                            </div>
                            <div class="content-container-right fl">
                                合作-需求-上-02
                            </div>
                        </li>
                        <li>
                            <div class="content-container-left fl">
                                广告名称：
                            </div>
                            <div class="content-container-right fl">
                                九次方大数据创造数据价值
                                <button style="margin-left: 50px" class="state state1" v-if="state===1">已上架</button>
                                <button style="margin-left: 50px" class="state state1" v-if="state===2">已下架</button>
                                <button style="margin-left: 50px" class="state state1" v-if="state===3">提前下架</button>
                            </div>
                        </li>
                        <li>
                            <div class="content-container-left fl">
                                广告链接：
                            </div>
                            <div class="content-container-right fl">
                                www.jusfoun.com
                            </div>
                        </li>
                        <li>
                            <div class="content-container-left fl">
                                广告播放时间：
                            </div>
                            <div class="content-container-right fl">
                                <span>2017-10-10 </span>  - <span> 2018-10-10</span>
                            </div>
                        </li>
                        <li>
                            <div class="content-container-left fl">
                                广告文字：
                            </div>
                            <div class="content-container-right fl">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                            </div>
                        </li>
                        <li>
                            <div class="content-container-left fl">
                                广告图：
                            </div>
                            <div class="content-container-right fl">
                                <img src="../../img/ggsz_03.png" alt="" style="width: 110px; height: 80px; margin-top: 12px">
                            </div>
                        </li>
                    </ul>
                    <div class="add-btn-box" v-if="state==1">
                        <span class="common-btn common-btn-active">修改</span>
                        <span class="common-btn">提前下架</span>
                        <span class="common-btn">设置下期</span>
                        <span class="common-btn">返回</span>
                    </div>
                    <div class="add-btn-box" v-if="state==2">
                        <span class="common-btn common-btn-active">上架</span>
                        <span class="common-btn">修改</span>
                        <span class="common-btn">设置下期</span>
                        <span class="common-btn">返回</span>
                    </div>
                    <div class="add-btn-box" v-if="state==3">
                        <span class="common-btn common-btn-active">上架</span>
                        <span class="common-btn">修改</span>
                        <span class="common-btn">设置下期</span>
                        <span class="common-btn">返回</span>
                    </div>
                </div>
            </div>
  <!--公用js库-->
<script src="../../resource/vue.min.js"></script>
<script src="../../resource/element-ui.js"></script>
<script src="../../js/common/common.js"></script>

  <script src="../../js/unionAdvertisingOperManagement/unionAdvertisingSet.js"></script>
</body>

</html>